*{
    margin: 0;
}

h1, h2 {
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    letter-spacing: 0.25em;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: 700;
}

h2{
    text-align: left;
    font-size: 18pt;
    font-weight: 500;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(assets/images/silverware.jpg);
    background-attachment: fixed;
    background-color: #ffffff;
    color: #404040;
}

.navbar{
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: #A4A400;
}

ul{
    list-style:none;
}

.nav-links ul{
    display: flex; 
    flex-direction: row;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: #A4A400;
}

.nav-links a:hover{
    color: black;
}

.nav-links a.active{
    color: black;
    text-decoration: underline;
}

hr {
    width: calc(100% - 20rem);
    margin: 0 10rem;
}


.logo{
    display:flex;
    align-items: center;
}

abbr{
    border-bottom: 1px dotted;
    text-decoration: underline;
}
.pie-hero, .ingredients, .directions, .user-comments, .links{
    padding: 0 20px;
    color: #404040;
    font-size: 11pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.pie-hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pie-hero img {
    margin-top: 1rem;
    width: 100%;
    max-width: 280px;
    height: auto;
}

.about-pie{
    margin-bottom: 1rem;
}

.ingredients, .directions, .user-comments{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#ingredient-list{
    list-style-image: url(assets/images/pie_bullet.png);
}

.links{
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.link-list{
    display:flex;
    flex-direction: column;
}

.links a{
    text-decoration: underline;
    color: #A4A400;
}

.comment-container{
    margin: 0 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFA8;
    font-style: italic;
}

#direction-list ul{
    list-style-image: url(assets/images/pie_bullet.png);
}

.pie-footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 1rem;
    height: auto;
    width: 243px;
}

.footer-text{
    text-align: right;
}

.validator-icons{
    text-align: left;
}

.logo img{
    height: 18px;
    width: auto;
}